@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

/* CSS variables */
:root {
    --primary-color: #ddd;
    --dark-color: #333;
    --light-color: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8); 
}
* {
    box-sizing: border-box;
    color: var(--dark-color);
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}
.btn {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}
.btn:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
}
img {
    max-width: 100%;
}
.wrapper {
    display: grid;
    grid-gap: 20px;
}

/* Navbar */
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}
.main-nav a {
    background-color: var(--primary-color);
    color: var(--dark-color);
    text-decoration: none;
    display: block;
    padding: 0.8rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}
.main-nav a:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
}

/* Top Container */
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url('https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}
.showcase h1 {
    font-size: 2.7rem;
    margin: 0;
    color: var(--light-color);
}
.showcase p {
    color: var(--light-color);
    margin-top: 0;
    font-size: 1rem;
}
.top-box {
    background-color: var(--primary-color);
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}
.top-box .price {
    font-size: 2rem;
}
.top-box-a {
    grid-area: top-box-a;
}
.top-box-b {
    grid-area: top-box-b;
}

/* Boxes Section */
.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem 1.5rem;
    box-shadow: var(--shadow);
}

/* Info section */
.info {
    background-color: var(--primary-color);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}

/* Portfolio */
.portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}

/* Footer */ 
footer {
    margin-top: 1.5rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    text-align: center;
    padding: 1rem;
}

/* Media Queries */
@media (max-width: 768px) {
    .main-nav ul {
        grid-template-columns: 1fr;
    }
    .top-container {
        grid-template-areas: 
        'showcase showcase'
        'top-box-a top-box-b';
    }
    .showcase h1 {
        font-size: 2rem;
    }
    .info {
        grid-template-columns: 1fr;
    }
    .info .btn {
        text-align: center;
        display: block;
    }
}

@media (max-width: 500px) {
    .top-container {
        grid-template-areas: 
        'showcase'
        'top-box-a'
        'top-box-b';
    }
}